<div class="header">
    <div class="header__title">
        <div>
            <a class="app-a" routerLinkActive="app-a_active" (click)="onClicked()">
                <!-- página de iconos de google -->
                <!-- https://fonts.google.com/icons?selected=Material+Icons -->
                <span class="material-icons md-36 estiloIcon">menu</span>
            </a>
        </div>
        <span>Store Orlo</span>
    </div>

    <!-- https://github.com/angular/flex-layout/wiki/Responsive-API
    fxHide.xs oculta el componente cuando resolución es para dispositivo móviles
    fxHide.sm oculta el componente cuando resolución es para dispositivo tablet-->
    <div class="header__navigation" fxHide.xs fxHide.sm>
        <a class="app-a" routerLink="/" routerLinkActive="app-a_active">Home</a>
        <a class="app-a" routerLink="shop" routerLinkActive="app-a_active">Tienda</a>
        <a class="app-a" routerLink="demo" routerLinkActive="app-a_active">Contacto</a>
    </div>

    <!-- https://github.com/angular/flex-layout/wiki/Responsive-API
    fxHide.xs oculta el componente cuando resolución es para dispositivo móviles
    fxHide.sm oculta el componente cuando resolución es para dispositivo tablet-->
    <div class="header__buttons" fxHide.xs fxHide.xs>
        <a class="app-a" routerLink="shop" routerLinkActive="app-a_active">
            <!-- página de iconos de google -->
            <!-- https://fonts.google.com/icons?selected=Material+Icons -->
            <span class="material-icons md-36 estiloIcon">shopping_cart</span>
        </a>
        <app-button *ngIf="!isAuthorized" routerLink="auth/login">Login</app-button>
        <app-button *ngIf="!isAuthorized" routerLink="auth/registration">Registrar</app-button>

        <span *ngIf="isAuthorized">{{user ? user.nombre + ' ' + user.apellido : null}}</span>

        <a class="app-a" *ngIf="isAuthorized" (click)="onSignOut()" routerLinkActive="app-a_active">Cerrar sesión</a>
    </div>
</div>
